#clockContainer {
    position: relative;
    margin: auto;
    height: 540px;
    width: 540px;
    background-size: 100%;
}

#hour {
    position: absolute;
    transform-origin: 14px 90px;
}

#minute {
    position: absolute;
    transform-origin: 14px 146px;
}


#second {
    position: absolute;
    background: rgb(92, 190, 50);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {

    width: 27px;
    height: 103px;
    top: 33.4%;
    left: 47%;
    opacity: 0.9;
}

#minute {
    width: 27px;
    height: 157px;
    top: 23%;
    left: 47%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 32%;
    top: 18%;
    left: 49.25%;
    opacity: 0.6;
}

@media screen and (max-width: 540px) {
    #clockContainer {
        height: 280px;
        width: 280px;
    }

    #hour {
        top: 17.6%;
        left: 44.7%;
        scale: 0.5;
    }

    #minute {
        top: -2.5%;
        left: 44.6%;
        scale: 0.5;
    }
}